zend_extension=xdebug
xdebug.mode=develop,debug
xdebug.start_with_request=yes
xdebug.discover_client_host=yes
; For Windows you can use 'host.docker.internal'
; For MAC you can use 'docker.for.mac.localhost'
; For linux use socket or gateway of your network
;   to get it run `docker network inspect local_dev_network_best_ever_world`
;   find `IPAM -> Config -> Gateway` and use it as value
xdebug.client_host=172.22.0.1
; Xdebug 3 use 9003 by default, but you can change it to any other
xdebug.client_port=9000
